/* Header and Footer */
.header, .footer{
    background-color: #D1FAF0;           
}
.header{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0 0 85% 85% / 30%; 
}
.header .logo{
    padding-top: 20px;
}
.header .logo img{
    width: 100px;
}
.header .introduction{
    padding-left: 500px;
    text-align: center;
}

.footer{
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-back{
    margin-left: 50px;
    margin-top: 50px;
}

.time-period, .time-period-message{
    display: flex;
}
.time-period .early-pandemic{
    padding-left: 150px;
    padding-right: 100px;
    padding-top: 50px;
    margin-bottom: -100px;
}
.time-period .mid-pandemic{
    padding-right: 100px;
    padding-top: 50px;
    margin-bottom: -100px;
}
.time-period .late-pandemic{
    padding-top: 50px;
    margin-bottom: -100px;
}
.time-period-message .click-message-1{
padding-left: 120px;
}
.time-period-message .click-message-1,
.time-period-message .click-message-2,
.time-period-message .click-message-3{
    font-size: 9pt;
    text-align:center;
    padding-top: 80px;    
    padding-right: 30px;
}
.time-period-message .click-message-1 .arrow-down,
.time-period-message .click-message-2 .arrow-down,
.time-period-message .click-message-3 .arrow-down{
    margin-left: 60px;
    margin-top:0px;
    margin-bottom: -80px;
}

/* Navigation */
.navigation-container{
    padding-left: 400px;
}

.navigation{
    display: flex;
}

.navigation .nav-link{
    background-color: #90F0D8;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    text-align: center;
    padding: 22px;
    padding-top: 30px;
    margin: 50px;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    cursor: pointer;
    font-weight: bold;
    margin-left: 100px;
}


.navigation a{
    color: black;
    font-size: 10pt;
}
.navigation a:hover{
    color: #212529;
    text-decoration: none;
}


 /*End of navigation */
 /* arrow */
.message{
    padding: 40px;
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #FF7A33;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: -80px;
  }
  .arrow-container{
    padding-left: 180px;
}
/* End of arrow */

/* Container */
.loading{
    text-align: center;
}
.container{
    padding-top: 20px;
    margin-left: 20px;
}

.container .row{
    min-width: 1300px;
}

.container .form-control{
    max-width: 300px;
}

.container .select-companies{
    display: flex;
    flex-direction: row;
    padding: 30px;
    max-width: 400px;
}

.container .label{
    padding: 5px 20px 0 0;
}

.title{
    padding-left: 150px;
    padding-top: 50px;
}

.sub-title{
    padding-top: 50px;
    font-size: 16pt;
    text-align: center;
}

.company-title{
    padding-left: 50px;
    margin-bottom: -30px;
}

/* End of Container */
/* Information */

.information-col{
    padding: 20px;
    padding-left: 50px;
    padding-top: 50px;
    background-color: #D1FAF0;
    border-radius: 5px 50px 5px;
    max-height: 650px;
    margin-top: 150px;
    margin-left: 80px;
}

.information-col.country-comparison{
    max-height: 320px !important;
}

.information-col.all-comparisons{
    max-height: 390px !important;
}

.information-col p{
    font-weight: bold;
    font-size: 13pt;
}

.information-col label{
    padding-right: 10px;
}
.information-col div{
    padding-bottom: 20px;
}

.information-col .conclusion{
    background-color: #FF7A33;
    border-radius: 20%;
    padding: 20px;
    padding-left: 30px;
}

/* SVG */
.svg-container{
    margin-top: -30px;
}
.svg-col{
    min-width: 800px;
}

svg .bar{
    fill: #C3A4FC;
}

svg .line-company{
    stroke: #C3A4FC;
}

svg .line{
    stroke: #00cc99;
}

svg .world-line{
    stroke: #FF7A33;
}

svg .country-line{
    stroke: #00cc99;
}

div.tooltip, div.tooltip2, div.tooltip-company, div.country-tooltip {	
    position: absolute;		
    width: 250px;					
    height: relative;					
    padding: 20px;				
    font: 12px sans-serif;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
    z-index: 10000;
}

div.tooltip{
    background: #FF7A33;
}

.tooltip-default{
    background: #00cc99 !important;
}

div.tooltip-company{
    background: #C3A4FC;
}

div.country-tooltip{
    background: #00cc99;
}

div.tooltip2{
    background: #00cc99;
}

div.tooltip div, div.tooltip2 div{
    padding: 5px;
}

div.tooltip div span, div.tooltip2 div span{
    font-weight: bold;
}

svg .dots{
    fill: #00cc99;
    stroke: #00cc99;
}

svg .dots-company{
    fill: #C3A4FC;
    stroke: #C3A4FC;
}

svg .world-dots{
    fill: #FF7A33;
    stroke: #FF7A33;
}

svg .country-dots{
    fill: #00cc99;
    stroke: #00cc99;
}

.besideMouse{
    display: none;
}

.annotation1 .annotation-note-label{
    fill: #C3A4FC;
}

.annotation2 .annotation-note-label{
    fill: #00cc99;
}

.annotation3 .annotation-note-label{
    fill: #FF7A33;
}

.right-axis{
    color: #C3A4FC;
}
.right-axis-label{
    fill: #C3A4FC;
}